<?xml version="1.0" encoding="UTF-8"?> 
<launch>

    <arg name="config_path" default = "$(find feature_tracker)/../config/auterion/m600_rs_config.yaml" />
    <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    <arg name="enable_rosbag" default = "true"/>
    <arg name="bag_prefix" default = "vins"/>
    
    <include file="$(find vins_estimator)/launch/mavros_rs.launch"/>
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
       <remap from="/vins_estimator/pose" to="/mavros/vision_pose/pose"/>
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>

    <node pkg="rosbag" type="record" name="rosbag_record_cam_imu"
        args="record -o $(env AUTERION_WS)/$(arg bag_prefix) 
        /camera/infra1/image_rect_raw 
        /camera/infra1/camera_info 
        /mavros/imu/data_raw
        /mavros/timesync_status
        /mavros/cam_imu_sync/cam_imu_stamp
        /vins_estimator/odometry
        /vins_estimator/pose
        /vins_estimator/camera_pose
        /mavros/local_position/pose
        /mavros/vision_pose/pose 
        /mavros/vision_pose/pose_cov"
        if="$(arg enable_rosbag)" />

    <node pkg="tf_broadcaster" type="tf_broadcaster" name="world_to_map" output="screen"/>
</launch>
